<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <classPathEntry
            location="W:\MavenRepository\mysql\mysql-connector-java\8.0.17\mysql-connector-java-8.0.17.jar"/>

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection userId="temp" password="Temp!2019" driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://10.248.61.27:3306/tms_tray"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.huaxin.cloud.tms.tray.dao.entity" targetProject="./src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="com.huaxin.cloud.tms.tray.dao.mapper" targetProject="./src/main/java">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="com.huaxin.cloud.tms.tray.dao.mapper" type="XMLMAPPER" targetProject="./src/main/java">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!-- 不要使用example类封装增删改查操作，以提升代码可阅读性 -->
        <table schema="" tableName="Test" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false"  >
           <!-- <domainObjectRenamingRule searchString="^T" replaceString="" />-->
        </table>
    </context>
</generatorConfiguration>